<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.project.mapper.NewsInfoMapper">

	<insert id="newsInfoInsert" parameterType="com.example.project.domain.NewsInfoVO">
		insert into MWS_COLT_NEWS_INFO
		values
		(#{ID},#{NEWS_ID},#{RANK},#{VIEW},now())
	</insert>

</mapper>
