<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.project.mapper.NewsMapper">

	<insert id="newsInsert" parameterType="com.example.project.domain.NewsVO">
		INSERT INTO MWS_COLT_NEWS
		VALUES
		(#{ID},#{AID},#{CATEGORY},#{TITLE},#{CONTENT},#{IMAGE},now(),now());
	</insert>

	<select id="newsSelect" resultType="com.example.project.domain.NewsVO">
		SELECT * from MWS_COLT_NEWS
	</select>

	<update id="newsUpdate" parameterType="int">
		UPDATE MWS_COLT_NEWS
		SET
		UPT_DT=now()
		WHERE id=#{ID}
	</update>

	<select id="newsSelectLastRow" resultType="com.example.project.domain.NewsVO">
		SELECT * FROM MWS_COLT_NEWS
		WHERE id = (
			SELECT MAX(id)
			FROM MWS_COLT_NEWS
		)
	</select>



</mapper>
